/* colors */
color-primary = #4392c1;
color-create = #40b577;
color-play = #4670c4;
color-read = #FF4A6F;
/* color-plus = #E67DAD; */
color-dark = #343434;
color-light = white;

/* fonts */
roboto = 'Roboto', sans-serif;
oswald = 'Oswald', sans-serif;
lato = 'Lato', sans-serif;
shortStack = 'Short Stack', cursive;
arvo = 'Arvo', serif;
sanchez = 'Sanchez', serif;


/* http://colourco.de/analogic/5/%2342c07d */
/* http://colourco.de/analogic/5/%234c76c3 */

body
  font-family: roboto;
  h2
    font-family: oswald;
    font-size: 1.5em;


nav
  color: color-dark;

  &.navbar
    background: color-light;
    border: none;
    border-bottom: 2px solid color-dark;
    border-radius: 0;

.navbar-default
  .navbar-nav
    > li
      > a:hover
        color: color-primary;

.container
  .jumbotron
    margin-top: 6rem;
    background: color-dark;
    border-radius: 0px;
    color: color-light;
    text-align: center;

    h1
      font-family: lato;
      font-weight: 300;
      font-size: 2.5em;

    .create
      /* font-family: oswald; */

    .play
      font-size: 1.1em;
      /* font-family: shortStack */

    .read:
      /* font-family: sanchez */


    hr
      border-color: color-light;

    .social
      margin: auto;

      button
        margin-bottom: 1em;
        background: color-light;
        color: color-dark;
        text-align: center;

        &:hover
          background: color-primary;
          color: color-light;

  .about
    /* border-top: 1px solid color-dark; */
    background: color-light;

    hr
      border-color: color-dark;

    h2
      font-size: 2.5em;

    h1, h2, h3, h4, h5, h6
      font-family: oswald;
      span
        font-size: 400;
        font-family: lato;
        color: color-dark;
        font-style: italic;

      /* border-bottom: 1px solid color-dark; */
    .section-header
      padding-top: 1.5em;

  .create
    font-family: oswald;
    color: color-create;

  .play
    font-family: shortStack;
    color: color-play;

  .read
    font-family: sanchez;
    color: color-read;


  .text-right
    text-align: right;
